.slide{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height:auto;
    
}

.slide button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color:#3f51b5
}
.slide  button[disabled]{
    background-color:#6b7eeb
}

.slide button:nth-child(2)
{     
    display: none;
}
.slide button:nth-child(3)
{     
    display: none;
}

/* .slide button:nth-child(5)
{     
    display: none;
} */
/* 
.slide button:nth-child(4)
{     
    display: none;
} */